<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('balance', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    余额列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form balance-content js-draggable-items" >

			<form class="form-horizontal balance-form form-lg" action= '<?=App::NR("balance", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="balance_id" value="<?=$rs['balance_id']?>" >
	


 
	<!-- 下拉选择(动态数据): 用户ID (user_id) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="user_id">用户ID</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg" style="width: 100%;" 
					id="user_id" name="user_id" 
					data-language="zh-CN"
					data-param-cancelable="0"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\User\Model\User"
					data-param-table="user"
					data-param-fields="user_id,name,nickname,mobile"
					data-param-style="{{name ? name : nickname}} (ID:{{user_id}} 手机:{{mobile}})"
					data-param-option="user_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=user_id | join(\',\')%>', $rs )?>"
					data-placeholder=""  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
		 
	</div><!-- END 下拉选择(动态数据): 用户ID (user_id) -->

	<!-- 单行文本: 数量 (quantity) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="quantity">数量</label>
		<div class="col-xs-8">
			<input class="form-control input-lg"  
				type="text" 
				id="quantity" name="quantity" 
				placeholder=""  
				value="<?=T::v('<%=quantity | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 数量 (quantity) -->


	<!-- 单选框: 类型 (type) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="type">类型</label>
		<div class="col-xs-8">
			<?php if (is_null($rs["type"])) { $rs["type"] = "decrease"; } ?>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="type" data-uncheck-value="increase" value="increase" <?=("increase" == $rs["type"]) ? "checked" : ""?> > <span></span> 增加</label>
<label class="css-input  css-radio css-radio-lg css-radio-primary push-10-r"><input  type="radio" name="type" data-uncheck-value="decrease" value="decrease" <?=("decrease" == $rs["type"]) ? "checked" : ""?> > <span></span> 减少</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 类型 (type) 开始  -->



	<!-- 文本域: 数据快照 (snapshot) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="snapshot">数据快照</label>
		<div class="col-xs-8">
			<textarea class="form-control input-lg"  
				type="text" 
				id="snapshot" name="snapshot" rows="4"
				placeholder=""><?=T::v('<%=snapshot  | e(\'html\')%>', $rs )?></textarea> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 文本域: 数据快照 (snapshot) -->

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('balance', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 余额列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['balance_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除余额 "
						            confirm-content="您确定删除余额 <strong><?=$rs['name=balance_id']?>(<?=$rs['balance_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('balance','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('余额删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('balance','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '余额删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-balance_id="<?=$rs['balance_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['balance_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=balance_id]').val( data['balance_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['balance_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.balance-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.balance-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('balance','duplicate', ['balance_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="balance_id"]').val() == '' || $('input[name="balance_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>