<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('task', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    任务列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form task-content js-draggable-items" >

			<form class="form-horizontal task-form form-lg" action= '<?=App::NR("task", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="task_id" value="<?=$rs['task_id']?>" >
	
	<!-- 单行文本: 别名 (slug) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="slug">别名</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="slug" name="slug" 
				placeholder="请输入别名,一般便于程序调用，对接其他系统."  
				value="<?=T::v('<%=slug | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">必须唯一</div>
		</div>
	</div><!-- END 单行文本: 别名 (slug) -->

	<!-- 单行文本: 名称 (name) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="name">名称</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="name" name="name" 
				placeholder="请输入积分任务名称"  
				value="<?=T::v('<%=name | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 名称 (name) -->

	<!-- 单行文本: 步骤 (process) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="process">步骤</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="process" name="process" 
				placeholder="完成任务一共有多少步骤"  
				value="<?=T::v('<%=process | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">填写整数</div>
		</div>
	</div><!-- END 单行文本: 步骤 (process) -->


	<!-- 单选框: 类型 (type) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="type">类型</label>
		<div class="col-xs-8">
			
<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r"><input  name="type" value="repeatable" type="radio" data-uncheck-value="repeatable" checked /> <span></span> 可重复</label>
<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r"><input  name="type" value="once" type="radio" data-uncheck-value="once"  /> <span></span> 一次性</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 类型 (type) 开始  -->




	<!-- 单图上传: 封面 (cover) 开始  -->
	<div class="xpmse-image  " name="cover">
		<div class="form-group " >
			<label class="col-xs-2 control-label" for="cover">封面</label>
			<div class="col-xs-8">
		   		<div name="cover" class="file-uploader rounded rounded-4 push-10-t"
					data-api='/_a/mina/uploader/upload?type=image'
					data-title='请上传任务封面'
					data-previews=""
					data-width="200"
					data-height="200"
					data-icon="fa fa-image" 
					data-placeholder="请上传任务封面" 
					data-allow-types="image/png,image/jpg,image/jpeg,image/gif"
					data-maxsize="20"
					data-progress="yes"
					data-cropable="1"
					data-draggable="yes"
					data-src="<?=T::v('<%=cover.url%>', $rs )?>"
					data-path="<?=T::v('<%=cover.path%>', $rs )?>"
					></div>
				<div class="help-block"></div>
			</div>
		</div> 
	</div><!-- END 单图上传: 封面 (cover) -->

<!-- : summary 空值-->

	<!-- 单行文本: 积分数量 (quantity) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="quantity">积分数量</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="quantity" name="quantity" 
				placeholder="完成该任务可以赚取的积分"  
				value="<?=T::v('<%=quantity | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">单位: 个</div>
		</div>
	</div><!-- END 单行文本: 积分数量 (quantity) -->




    <!-- JSON编辑器(json-editor): 奖励公式 (formula) 开始  -->
	<style type="text/css">
		.CodeMirror {
			border: 1px solid #e6e6e6;
		}
	</style>
	<div class="json-editor draggable-item" data-name="formula" >

		<div class="form-group">
			<label class="col-xs-2 control-label">奖励公式</label>
			<div class="col-xs-8">
                <textarea class="form-control input-lg " name="formula"  type="text"  rows="6" 
                    
                    placeholder="请填写自定义JavaScript代码"><?=T::v('<%=formula | json_encode(constant(\'JSON_PRETTY_PRINT\'))%>', $rs )?></textarea>
                <input type="hidden" name="__json_cols[]" value="formula" />
			</div>
			<div class="col-xs-2 push-10-t"></div>
		</div>

		<!-- helper -->
		<div class="form-group helper"> 
			<label class="col-xs-2 control-label" for="schedule"></label>
			<div class="col-xs-9">
				<div class="help-block">由工程师填写</div>
			</div>
		</div><!-- end helper -->
	</div>
    <!-- END 代码编辑器(json-editor): 奖励公式 (formula)  -->

    <script type="text/javascript">
    
        // 载入代码编辑器
		if ( typeof CodeMirror != 'undefined' ) {
			
			var txt_id = (new Date).getTime() + Math.floor(Math.random()*1000000+1);
			$('textarea[name="formula"]').attr('id', txt_id );
			CodeMirror.fromTextArea(document.getElementById(txt_id), {
				lineNumbers: true,
				mode: "text/javascript",
                readOnly: false,
				viewportMargin: Infinity
			}).on('change', function( cm ){ // 更新 txt 数据
				document.getElementById(txt_id).value = cm.getValue();
			});
		}
	</script>

	<!-- 单行文本: 时限额 (hourly_limit) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="hourly_limit">时限额</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="hourly_limit" name="hourly_limit" 
				placeholder="每小时可接次数"  
				value="<?=T::v('<%=hourly_limit | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">对可重复类型任务有效</div>
		</div>
	</div><!-- END 单行文本: 时限额 (hourly_limit) -->

	<!-- 单行文本: 日限额 (daily_limit) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="daily_limit">日限额</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="daily_limit" name="daily_limit" 
				placeholder="每天可接次数"  
				value="<?=T::v('<%=daily_limit | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">对可重复类型任务有效</div>
		</div>
	</div><!-- END 单行文本: 日限额 (daily_limit) -->

	<!-- 单行文本: 周限额 (weekly_limit) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="weekly_limit">周限额</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="weekly_limit" name="weekly_limit" 
				placeholder="每周可接次数"  
				value="<?=T::v('<%=weekly_limit | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">对可重复类型任务有效</div>
		</div>
	</div><!-- END 单行文本: 周限额 (weekly_limit) -->

	<!-- 单行文本: 月限额 (monthly_limit) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="monthly_limit">月限额</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="monthly_limit" name="monthly_limit" 
				placeholder="每月可接次数"  
				value="<?=T::v('<%=monthly_limit | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">对可重复类型任务有效</div>
		</div>
	</div><!-- END 单行文本: 月限额 (monthly_limit) -->

	<!-- 单行文本: 年限额 (yearly_limit) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="yearly_limit">年限额</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="yearly_limit" name="yearly_limit" 
				placeholder="每年可接次数"  
				value="<?=T::v('<%=yearly_limit | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">对可重复类型任务有效</div>
		</div>
	</div><!-- END 单行文本: 年限额 (yearly_limit) -->

	<!-- 单行文本: 完成时限 (time_limit) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="time_limit">完成时限</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="time_limit" name="time_limit" 
				placeholder="必须在此时间内完成"  
				value="<?=T::v('<%=time_limit | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">单位:秒</div>
		</div>
	</div><!-- END 单行文本: 完成时限 (time_limit) -->




    <!-- JSON编辑器(json-editor): 接受条件 (accept) 开始  -->
	<style type="text/css">
		.CodeMirror {
			border: 1px solid #e6e6e6;
		}
	</style>
	<div class="json-editor draggable-item" data-name="accept" >

		<div class="form-group">
			<label class="col-xs-2 control-label">接受条件</label>
			<div class="col-xs-8">
                <textarea class="form-control input-lg " name="accept"  type="text"  rows="6" 
                    
                    placeholder="请填写自定义JavaScript代码"><?=T::v('<%=accept | json_encode(constant(\'JSON_PRETTY_PRINT\'))%>', $rs )?></textarea>
                <input type="hidden" name="__json_cols[]" value="accept" />
			</div>
			<div class="col-xs-2 push-10-t"></div>
		</div>

		<!-- helper -->
		<div class="form-group helper"> 
			<label class="col-xs-2 control-label" for="schedule"></label>
			<div class="col-xs-9">
				<div class="help-block">由工程师填写</div>
			</div>
		</div><!-- end helper -->
	</div>
    <!-- END 代码编辑器(json-editor): 接受条件 (accept)  -->

    <script type="text/javascript">
    
        // 载入代码编辑器
		if ( typeof CodeMirror != 'undefined' ) {
			
			var txt_id = (new Date).getTime() + Math.floor(Math.random()*1000000+1);
			$('textarea[name="accept"]').attr('id', txt_id );
			CodeMirror.fromTextArea(document.getElementById(txt_id), {
				lineNumbers: true,
				mode: "text/javascript",
                readOnly: false,
				viewportMargin: Infinity
			}).on('change', function( cm ){ // 更新 txt 数据
				document.getElementById(txt_id).value = cm.getValue();
			});
		}
	</script>




    <!-- JSON编辑器(json-editor): 达成条件 (complete) 开始  -->
	<style type="text/css">
		.CodeMirror {
			border: 1px solid #e6e6e6;
		}
	</style>
	<div class="json-editor draggable-item" data-name="complete" >

		<div class="form-group">
			<label class="col-xs-2 control-label">达成条件</label>
			<div class="col-xs-8">
                <textarea class="form-control input-lg " name="complete"  type="text"  rows="6" 
                    
                    placeholder="请填写自定义JavaScript代码"><?=T::v('<%=complete | json_encode(constant(\'JSON_PRETTY_PRINT\'))%>', $rs )?></textarea>
                <input type="hidden" name="__json_cols[]" value="complete" />
			</div>
			<div class="col-xs-2 push-10-t"></div>
		</div>

		<!-- helper -->
		<div class="form-group helper"> 
			<label class="col-xs-2 control-label" for="schedule"></label>
			<div class="col-xs-9">
				<div class="help-block">由工程师填写</div>
			</div>
		</div><!-- end helper -->
	</div>
    <!-- END 代码编辑器(json-editor): 达成条件 (complete)  -->

    <script type="text/javascript">
    
        // 载入代码编辑器
		if ( typeof CodeMirror != 'undefined' ) {
			
			var txt_id = (new Date).getTime() + Math.floor(Math.random()*1000000+1);
			$('textarea[name="complete"]').attr('id', txt_id );
			CodeMirror.fromTextArea(document.getElementById(txt_id), {
				lineNumbers: true,
				mode: "text/javascript",
                readOnly: false,
				viewportMargin: Infinity
			}).on('change', function( cm ){ // 更新 txt 数据
				document.getElementById(txt_id).value = cm.getValue();
			});
		}
	</script>




    <!-- JSON编辑器(json-editor): 事件 (events) 开始  -->
	<style type="text/css">
		.CodeMirror {
			border: 1px solid #e6e6e6;
		}
	</style>
	<div class="json-editor draggable-item" data-name="events" >

		<div class="form-group">
			<label class="col-xs-2 control-label">事件</label>
			<div class="col-xs-8">
                <textarea class="form-control input-lg " name="events"  type="text"  rows="6" 
                    
                    placeholder="请填写自定义JavaScript代码"><?=T::v('<%=events | json_encode(constant(\'JSON_PRETTY_PRINT\'))%>', $rs )?></textarea>
                <input type="hidden" name="__json_cols[]" value="events" />
			</div>
			<div class="col-xs-2 push-10-t"></div>
		</div>

		<!-- helper -->
		<div class="form-group helper"> 
			<label class="col-xs-2 control-label" for="schedule"></label>
			<div class="col-xs-9">
				<div class="help-block">由工程师填写</div>
			</div>
		</div><!-- end helper -->
	</div>
    <!-- END 代码编辑器(json-editor): 事件 (events)  -->

    <script type="text/javascript">
    
        // 载入代码编辑器
		if ( typeof CodeMirror != 'undefined' ) {
			
			var txt_id = (new Date).getTime() + Math.floor(Math.random()*1000000+1);
			$('textarea[name="events"]').attr('id', txt_id );
			CodeMirror.fromTextArea(document.getElementById(txt_id), {
				lineNumbers: true,
				mode: "text/javascript",
                readOnly: false,
				viewportMargin: Infinity
			}).on('change', function( cm ){ // 更新 txt 数据
				document.getElementById(txt_id).value = cm.getValue();
			});
		}
	</script>


	<!-- 单选框: 状态 (status) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="status">状态</label>
		<div class="col-xs-8">
			
<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r"><input  name="status" value="online" type="radio" data-uncheck-value="online" checked /> <span></span> 上线</label>
<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r"><input  name="status" value="offline" type="radio" data-uncheck-value="offline"  /> <span></span> 下线</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 状态 (status) 开始  -->

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('task', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 任务列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['task_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除任务 "
						            confirm-content="您确定删除任务 <strong><?=$rs['name=name']?>(<?=$rs['task_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('task','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('任务删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('task','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '任务删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-task_id="<?=$rs['task_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['task_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=task_id]').val( data['task_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['task_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.task-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.task-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('task','duplicate', ['task_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="task_id"]').val() == '' || $('input[name="task_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>