<?php 
use \Xpmse\Loader\App; 
use \Xpmse\Utils;
use \Xpmse\T;
?>
<style type="text/css">
	.form {
		padding-top: 60px;
		padding-bottom: 60px;
	}
</style>


<!-- Page Content -->
<div class="content"> 
	<div class="block block-bordered " >
		<div class="block-header remove-margin" >

			<h3 class="block-title" >
				<a href="<?=App::R('invite', 'index')?>" class="text-default">
                    <i class="fa fa-arrow-circle-o-left"></i> 
                    邀请列表 
                </a> / <?=$action_name?> 
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content form invite-content js-draggable-items" >

			<form class="form-horizontal invite-form form-lg" action= '<?=App::NR("invite", "save");?>' >

				<!-- 隐藏域 -->
				<input type="hidden" name="invite_id" value="<?=$rs['invite_id']?>" >
	


 
	<!-- 下拉选择(动态数据): 用户ID (user_id) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="user_id">用户ID</label>
		<div class="col-xs-8"> 
			<select class="js-select2 form-control input-lg "  style="width: 100%;" 
					id="user_id" name="user_id" 
					data-language="zh-CN"
					data-param-cancelable="0"
					data-param-cancel="取消选择"
					data-param-model="\Xpmsns\User\Model\User"
					data-param-table="user"
					data-param-fields="user_id,name,nickname,mobile"
					data-param-style="{{name ? name : nickname}} ( ID: {{user_id}} 手机: {{mobile}})"
					data-param-option="user_id"
					data-param-default=""
					data-ajax-url="/_a/mina/helper/select2?method=get"
					data-preload-url="/_a/mina/helper/select2?method=get&preload=<?=T::v('<%=user_id | join(\',\')%>', $rs )?>"
					data-placeholder=""  >
				<option></option>
			</select>
			<div class="help-block"></div>
		</div>
			</div><!-- END 下拉选择(动态数据): 用户ID (user_id) -->

	<!-- 单行文本: 别名 (slug) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="slug">别名</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="slug" name="slug" 
				placeholder="邀请别名"  
				value="<?=T::v('<%=slug | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block">每个用户的别名必须唯一</div>
		</div>
	</div><!-- END 单行文本: 别名 (slug) -->

	<!-- 单行文本: 资源ID (outer_id) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="outer_id">资源ID</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="outer_id" name="outer_id" 
				placeholder=""  
				value="<?=T::v('<%=outer_id | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 资源ID (outer_id) -->

	<!-- 单行文本: 来源 (orgin) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="orgin">来源</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="orgin" name="orgin" 
				placeholder=""  
				value="<?=T::v('<%=orgin | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 来源 (orgin) -->

	<!-- 单行文本: 地址 (url) 开始  -->
	<div class="form-group   ">
		<label class="col-xs-2 control-label" for="url">地址</label>
		<div class="col-xs-8">
			<input class="form-control input-lg "  
				type="text" 
				id="url" name="url" 
				placeholder=""  
				value="<?=T::v('<%=url | e(\'html\')%>', $rs )?>" /> 
			<div class="help-block"></div>
		</div>
	</div><!-- END 单行文本: 地址 (url) -->


	<!-- 单选框: 是否跳转 (redirect) 开始  -->
	<div class="form-group    ">
		<label class="col-xs-2 control-label" for="redirect">是否跳转</label>
		<div class="col-xs-8">
			
<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r"><input  name="redirect" value="0" type="radio" data-uncheck-value="0" checked /> <span></span> 不跳转</label>
<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r"><input  name="redirect" value="1" type="radio" data-uncheck-value="1"  /> <span></span> 自动跳转</label>
			<div class="help-block"></div>
		</div>
	</div><!-- END 单选框: 是否跳转 (redirect) 开始  -->



<!-- 单行时间日期: 过期时间 (expired_at) 开始  -->
<div class="form-group   ">
<label class="col-xs-2 control-label" for="expired_at__date">过期时间</label>
<div class="col-xs-4">
<input 
 name="expired_at__date" id="expired_at__date"

class="js-datepicker form-control  input-lg" type="text" 
data-date-format="yyyy年mm月dd日" 
placeholder="请选择日期 "
 value="<?=T::v('<%=expired_at | toDate%>', $rs )?>"  />

<div class="help-block"></div>
</div>
 <div class="col-xs-4">
<input 
name="expired_at__time" id="expired_at__time"
class="js-masked-time form-control  input-lg"  type="text" 
 placeholder="请输入时间"
value="<?=T::v('<%=expired_at | toTime%>', $rs )?>" /> 
 </div>
<input name="expired_at" id="expired_at" type="hidden" value="<?=T::v('<%=expired_at | toDateTime%>', $rs )?>" />
<script type="text/javascript">
$(function(){
function expired_at_change() {
var tm = $('input[name=expired_at__time').val();
 tm = tm.replace('@ ', '');
tm = tm.replace('时', ':');
tm = tm.replace('分', ':');
 tm = tm = tm + '00';
var dt = $('input[name=expired_at__date]').val();
dt = dt.replace('年', '-');
dt = dt.replace('月', '-');
 dt = dt.replace('日', '');
var datetime = dt + ' ' + tm;
$('input[name=expired_at]').val( datetime );
}
$('input[name=expired_at__date]').on("change", function( e ){
 expired_at_change();

});

 $('input[name=expired_at__time').on("change", function( e ){

expired_at_change();
});
});

 </script>
</div><!-- END 单行时间日期: 过期时间 (expired_at) -->




    <!-- JSON编辑器(json-editor): 数据 (data) 开始  -->
	<style type="text/css">
		.CodeMirror {
			border: 1px solid #e6e6e6;
		}
	</style>
	<div class="json-editor draggable-item" data-name="data" >

		<div class="form-group">
			<label class="col-xs-2 control-label">数据</label>
			<div class="col-xs-8">
                <textarea class="form-control input-lg " name="data"  type="text"  rows="6" 
                    
                    placeholder="请填写自定义JavaScript代码"><?=T::v('<%=data | json_encode(constant(\'JSON_PRETTY_PRINT\') b-or constant(\'JSON_UNESCAPED_UNICODE\') )%>', $rs )?></textarea>
                <input type="hidden" name="__json_cols" value="data" />
			</div>
			<div class="col-xs-2 push-10-t"></div>
		</div>

		<!-- helper -->
		<div class="form-group helper"> 
			<label class="col-xs-2 control-label" for="schedule"></label>
			<div class="col-xs-9">
				<div class="help-block"></div>
			</div>
		</div><!-- end helper -->
	</div>
    <!-- END 代码编辑器(json-editor): 数据 (data)  -->

    <script type="text/javascript">
    
        // 载入代码编辑器
		if ( typeof CodeMirror != 'undefined' ) {
			
			var txt_id = (new Date).getTime() + Math.floor(Math.random()*1000000+1);
			$('textarea[name="data"]').attr('id', txt_id );
			CodeMirror.fromTextArea(document.getElementById(txt_id), {
				lineNumbers: true,
				mode: "text/javascript",
                readOnly: false,
				viewportMargin: Infinity
			}).on('change', function( cm ){ // 更新 txt 数据
				document.getElementById(txt_id).value = cm.getValue();
			});
		}
	</script>

				<!--  提交按钮 -->
				<div class="block block-quickpanel sidebar-mini">
					<div class="block-quickpanel-content" >
						<div class="form-group">

							<!-- 功能组 -->
							<div class="col-xs-2 push-20-t text-left">
								<a href="<?=App::R('invite', 'index')?>"
									class="btn btn-lg btn-primary font-w300 btn-minw push-20-l user-action fn-back" >
									<i class="fa fa-angle-double-left push-5-r"></i> 邀请列表 
								</a>
							</div>
							<div class="col-xs-8 push-20-t text-center">
								<button  
									type="submit" 
									class="btn btn-lg btn-primary font-w300 btn-minw  push-20-r fn-action fn-save  ">
										<i class="fa fa-save push-5-r"></i> 保存
								</button>

								<button  
									type="button" 
									data-param-id="<?=$rs['invite_id']?>"
									class="btn btn-lg btn-primary font-w300 btn-minw  push-50-r fn-action fn-saved-only fn-duplicate  ">
										<i class="fa fa-files-o push-5-r"></i> 复制
								</button>

								<button 
									type="button"
									class="btn btn-lg btn-danger btn-minw ajax-confirm fn-action fn-saved-only fn-remove"
									confirm-title="请确认删除邀请 "
						            confirm-content="您确定删除邀请 <strong><?=$rs['name=invite_id']?>(<?=$rs['invite_id']?> )</strong>"
						            confirm-dismiss = "取消"
						            confirm-submit= "确定"
						            confirm-action="<?=App::NR('invite','remove')?>"
						            event-before="
										function( btn, modal ) {
											$('button', modal)
												.addClass('disabled')
												.attr('disabled', 'disabled');
										}
									"
									event-done="
										function( data, btn, modal) {
											$('button', modal)
												.removeClass('disabled')
												.removeAttr('disabled');
										}
									"
							        event-success="
										function(btn, modal) {
											success('邀请删除成功');
											setTimeout(function(){
												window.location = '<?=App::R('invite','index')?>';
											}, 1000);
										}
									"
									event-error="
										function( data, btn, modal) {
											failure( '邀请删除失败 ('+ data['message'] + ')');
											return true;
										}
									"

									data-param-invite_id="<?=$rs['invite_id']?>" 
	
									 >
										<i class="fa fa-minus-circle push-5-r"></i> 删除
								</button>

							</div>
						</div>
						<div class="bg-primary text-white text-center bottom-line"></div>	
					</div>
				</div> <!-- END 提交按钮 -->

			</form>
		</div> <!-- END block-content form -->
	</div> <!-- END block block-bordered -->
</div><!-- END content -->





<script type="text/javascript">
function pending( message ) {
	$('.fn-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');
	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.fn-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


/**
 * 保存表单
 */
function save( form, validation ) {

	var api =$(form).attr("action");

	try {
		var data = $(form).serializeData(true);
	} catch( e  ){
		console.log( e );
		return ;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		if ( typeof data['code'] == 'string' ) {
			data['code'] = parseInt(data['code']);
		}

		// 返回数据异常
		if ( typeof data['code'] == 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		if ( typeof  data['invite_id'] == 'undefined' ) {
			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}
		

		// 更新ID
		$('input[name=invite_id]').val( data['invite_id'] );
		$('.fn-saved-only').removeClass('hidden');
		$('.fn-saved-only').attr('data-param-id', data['invite_id']);

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		console.log( status, xhr.status, ' message=', message );
	});
}


$(function(){

	// 设定高度
	$('.invite-content').css('minHeight', $(document).outerHeight() );
	
	App.initHelpers(['datepicker','select2', 'js-draggable-items', 'masked-inputs','tags-inputs',  'ajax-confirm', 'slimscroll', 'file-uploader', 'image-crop']);

	// 表单验证
	$('.invite-form').validate({
		errorClass: 'help-block animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .col-xs-8').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block .col-xs-8').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .col-xs-8').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			save( form, this);
			return false;
		},

		rules: {},
		messages: {}

	});


	$('.fn-duplicate').click(function(){
		var api = "<?=App::R('invite','duplicate', ['invite_id'=>''])?>";
		var id = $(this).attr('data-param-id');
		var url = api + id;
		window.location = url;
	})

	if ( $('input[name="invite_id"]').val() == '' || $('input[name="invite_id"]').val() == undefined ) {
		$('.fn-saved-only').addClass('hidden');
	}

// 自定义代码


})
	
</script>