<?php
	use \Xpmse\Loader\App as App;
?>
<script type="text/javascript">
	DEBUG_ON = true;
</script>
<!-- Page Content -->
<div class="content "> 

	<div class="block block-bordered webeditor " >
		<div class="block-header remove-margin" >
			<ul class="block-options" >
				<li>
					<a type="button"	href="#" data-toggle="block-option" data-action="fullscreen_toggle"></a>
				</li>
			</ul>

			<h3 class="block-title" >
				<a href="<?=App::R('group', 'index')?>" class="text-default">
					<i class="fa fa-arrow-circle-o-left"></i> 
					用户组列表 
				</a> / 管理用户组
				<!-- <i class="fa fa-lock push-5-l  lock_status text-muted" style="width:18px;"></i> -->
				<!-- <span class="text-danger status push-10-l font-s13"></span> -->
			</h3>
			
		</div> <!-- END block-header -->

		<div class="block-content" style="padding:40px;padding-top:20px;" >
			<form class="group-form form-horizontal push-10-t" action="<?=APP::NR('group', 'save')?>" 
				method="post" >
				<!-- 用户组ID  -->
				<input type="hidden" name="group_id" id="group_id" value="<?=$group['group_id']?>">
				
				<div class="form-group">
					<div class="col-xs-12 push-10">
						<h5 class="font-w400">
							用户组
							<span class="text-muted font-s14"> ( ID:<?=$group['group_id']?> ) </span>
						</h5> 
					</div>
				</div>

				<div class="form-group">
					
					<div class="col-xs-6">
						<div class="form-material">
							<input class="form-control" type="text" id="name" name="name" 
								value="<?=$group['name']?>" 
								placeholder="填写用户组名称">
							<label for="name">名称</label>
							<div class="help-block text-right"></div>
						</div>
					</div>


					<div class="col-xs-6">
						<div class="form-material">
							<input class="form-control" type="text" id="slug" name="slug" 
								value="<?=$group['slug']?>"
								<?=($group['slug'] == 'default') ? 'disabled' : ''?>
								placeholder="填写电子邮箱">
							<label for="slug">别名</label>
							<div class="help-block text-right"></div>
						</div>
					</div>
					
				</div>


				<div class="form-group">

					<div class="col-xs-6">
						<div class="form-material">
							<select class="js-select2 form-control" id="status" name="status" 
								style="width: 100%;" data-placeholder="请选择状态...">
								<option></option>
								<option value="on" 
									<?=($group['status'] == 'on' || empty($group['status'])) ? 'selected' : '' ?>
								> 正常</option>

								<option value="off"
									<?=($group['status'] == 'off') ? 'selected' : '' ?>
								>封禁</option>
								<option value="lock"
									<?=($group['status'] == 'lock') ? 'selected' : '' ?>
								>锁定</option>
							</select>
							<label for="status">状态</label>
							<div class="help-block text-right"></div>
						</div>
					</div>


					<div class="col-xs-6">
						<div class="form-material">
							<input class="js-tags-input form-control" type="text" id="tag" name="tag" 
							value="<?=empty($group['tag'])?'':implode(',',$group['tag'])?>"
							>
							<label for="tag">标签</label>
							<div class="help-block text-right"></div>
						</div>
					</div>

				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<div class="form-material">
							<textarea class="form-control" id="remark" name="remark" rows="3" placeholder="填写备注信息"><?=$group['remark']?></textarea>
							<label for="remark">备注</label>
							<div class="help-block text-right"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 text-center push-15-t">
						<button  
							 type="button" 
							 class="btn btn-primary font-w300 btn-minw  push-20-r group-action group-save ">
								 <i class="fa fa-save push-5-r"></i> 
								 保存数据
							</button>

						 <button  
							 type="button" 
							 class="btn btn-primary font-w300 btn-minw push-50-r group-action group-back" >
								 <i class="fa fa-angle-double-left push-5-r"></i> 
								 返回列表
							</button>

						<?php if ($group['slug'] != 'default') : ?>

						<button  
							 type="button"
							 confirm-title="删除用户组"
                             confirm-content="您确定删除 <strong>用户组 (<?=$group['group_id']?>)</strong> 吗? <br/><span class='text-danger font-w400'> 删除后该用户组用户将被转到默认分组中。</span>"
                        	 confirm-dismiss = "取消"
                             confirm-submit= "确定"
                             data-param-group_id="<?=$group['group_id']?>" 
                             confirm-action="<?=App::NR('group','remove')?>"


                             event-before="
								function( btn, modal ) {
									$('button', modal)
										.addClass('disabled')
										.attr('disabled', 'disabled');
								}
							"

							event-done="
								function( data, btn, modal) {
									$('button', modal)
										.removeClass('disabled')
										.removeAttr('disabled');
								}
							"
	                        event-success="
								function(btn, modal) {
									success('删除成功');
									setTimeout(function(){
										window.location = '<?=App::R('group', 'index')?>';
									}, 1000);
								}
							"

							event-error="
								function( data, btn, modal) {
									failure( '删除失败 ('+ data['message'] + ')');
									return true;
								}
							"

							class="btn btn-danger font-w300 btn-minw push-20-r ajax-confirm  
							group-action group-remove
							">
								 <i class="fa fa-minus-circle push-5-r"></i> 
								 删除用户组
							</button>
						<?php endif; ?>

					</div>
				</div>
				
			</form>
		</div> <!-- END block-content -->
	</div> <!-- END block -->


</div> <!-- END content -->



<script type="text/javascript">

function pending( message ) {
	$('.group-action')
		.addClass('disabled')
		.attr('disabled', 'disabled');

	App.loading({message:message}).show();
}


function success( message ) {
	App.notify( message );
}

function failure( message,  validation ) {
	validation = validation  || null;
	message = message || null;

	if ( typeof message == 'object' ) {
		validation.showErrors(message);
		return;
	}

	if ( message != null ) {
		App.notify( message, 'fa fa-times', 'danger' );
	}
}

function done() {
	App.loading().hide();
	$('.group-action')
		.removeClass('disabled')
		.removeAttr('disabled');
}


function autoComplete() {
	if ( $('.group-form [name=contact_name]').val() == '' ) {
		$('.group-form [name=name]').keyup(function(key){
			$('.group-form [name=contact_name]').val( $(this).val() );
		});
	}

	if ( $('.group-form [name=contact_tel]').val() == '' ) {
		$('.group-form [name=mobile]').keyup(function(key){
			$('.group-form [name=contact_tel]').val( $(this).val() );
		});
	}
}


function getData( form, validation ) {

	var data = {};
	var formData =  $(form).serializeArray();

	for( var i=0; i<formData.length; i++ ) {
		var name = formData[i]['name'];
		var value = formData[i]['value'];

		if (value !== "") {
			data[name] = value;
		}
	}

	// 特殊数值处理
	if ( typeof data["mobile_verified"] == 'undefined' ) {
		data["mobile_verified"] = "0";
	}

	if ( typeof data["email_verified"] == 'undefined' ) {
		data["email_verified"] = "0";
	}

	if ( typeof data["group_verified"] == 'undefined' ) {
		data["group_verified"] = "0";
	}

	if ( typeof data["name_verified"] == 'undefined' ) {
		data["name_verified"] = "0";
	}


	// 特殊数值校验
	
	// 身份信息 (标记为已核验，但身份信息为空)
	if ( data["group_verified"] == "1" && typeof data["verify"] == 'undefined' ) {
		failure({verify:'请填写身份信息'}, validation );
		return false;
	}

	// 实名信息 (标记为已核验，但真实姓名和身份证号为空)
	if ( data["name_verified"] == "1") {

		var error = {};

		if ( typeof data["name"] == 'undefined' ) {
			error['name'] = "请填写真实姓名"
		}

		if ( typeof data["idno"] == 'undefined' ) {
			error['idno'] = "请填写证件号码"
		}

		if ( typeof error['name'] !== 'undefined' || typeof error['idno'] !== 'undefined' ) {
			failure(error, validation );
			return false;
		}
	}


	// 验证支付密码 ???



	data = jQuery.extend(data, {});

	return data;
}


function savegroup( form, validation ) {

	var api = '<?=App::NR("group", "save");?>';
	var data = getData( form, validation );
	if ( data === false ) {
		return;
	}

	pending('保存中, 请稍候...');
	// POST 数据
	jQuery.post( api, data, function( data, textStatus, xhr) {

		done();

		// 返回数据异常
		if ( typeof data['code'] === 'number' && data['code'] !== 0 ) {

			if ( typeof data['extra'] == 'object' && typeof data['extra']['errors'] == 'object'  ) {
				failure( data['extra']['errors'], validation );
				return;
			}

			var message = data['message'] || "未知错误";
			failure( message );
			return;
		}

		// 保存成功
		success('保存成功');

	}, 'json')

	.error(function( xhr, status, message) {
		failure("保存失败, 网络错误 ( " + xhr.status + ' ' + message+" )");
		// console.log( status, xhr.status, ' message=', message );
	});


	// failure({mobile:'手机号已被注册'}, validation );

	// pending('保存中, 请稍候...');


	// setTimeout(function(){
	// 	failure('保存失败');
	// 	success('保存成功');
	// 	done();}, 500);
	
	// console.log( form );
}


$(function(){
	App.initHelpers('file-uploader', {'handler':'div[name="headimg"]'});
	App.initHelpers(['datepicker','select2', 'image-crop', 'tags-inputs', 'ajax-confirm']);

	// 保存数据按钮
	$('.group-save').click(function(event) {
		$('.group-form').submit();
	});

	// 返回用户组列表
	$('.group-back').click( function(event) {
		if ( history.length > 2 ) {
			history.back();
			return;
		}

		window.location = '<?=App::R("group","index")?>';
		
	});

	// 自动填写信息联动
	autoComplete();


	// 表单验证
	$('.group-form').validate({
		errorClass: 'help-block text-right animated fadeInDown',
		errorElement: 'div',
		errorPlacement: function(error, e) {				
			jQuery(e).parents('.form-group .form-material').append(error);
		},
		highlight: function(e) {
			jQuery(e).closest('.form-group .form-material').parent().removeClass('has-error').addClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		unhighlight:function(e){
			jQuery(e).closest('.form-group .form-material').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},
		success: function(e) {
			jQuery(e).closest('.form-group .form-material').parent().removeClass('has-error');
			jQuery(e).closest('.help-block').remove();
		},

		submitHandler: function(form) {
			savegroup( form, this );
			return false;
		},
		rules: {
			mobile: {
				minlength: 2,
				maxlength: 20
			}
		},
		messages: {
			mobile: {
				minlength: '手机号码格式不正确',
				maxlength: '手机号码格式不正确'
			}
		}
	});
})
</script>
